<link rel="stylesheet" href="styles/nav.scss" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>

<header class="profile">
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-dark">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="/homepage" class="button1" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Home</span>
          </a>
          <a href="/menu" class="button1">
            <i class="fas fa-chart-area fa-fw me-3"></i><span>Order Now!</span>
          </a>
          <a href="/admin_login" class="button1" aria-current="true">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Admin Login</span>
            </a>
            <a href="/users_login" class="button1">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>User Login</span>
            </a>
        </div>
      </div>
    </nav>
</header>
