<header class="profile">
    <nav id="sidebarMenu" class="d-lg-block sidebar bg-dark">
        <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart</button><button class="clear-cart btn btn-danger">Clear Cart</button></div>
        </div>
    </nav>
</header>