body {

}

.container{
  position: relative;
  width: 1000px;
  height: 300px;
  margin: 240px auto;

}

.container .box{
  position:relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  border-color: black;
}
