/* menu section */

#menu {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    background-size: 100% 100%;
    padding: 40px 80px;
    align-items: center;
    justify-content: center;
    margin-left: 240px;
    font-family: Source sans pro, sans-serif;

}

#menu h1 {
    display:flex;
    margin:10px 0;
    color:grey;
    font-size:40px;
    letter-spacing: 2px;
    font-family: Bungee, sans-serif;
}

#menu p {
    display: flex;
    font-size: 30px;
    line-height: 23px;
    align-items: center;
    justify-content: center;
}


#menu #items{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 20px;
}

#menu #items .cardss{
    display:flex;
    flex-direction: column;
    height: auto;
    width: 33%;
    align-items: center;
    justify-content: space-around;

}

#menu #items .cardss img{
    display: flex;
    height: 210px;
    width: 50%;
    margin: 10px 0;
    border-radius: 50%;
    background: transparent;
    transition: 1s;

}

#menu #items .cardss img:hover{
    transform: scale(1.15);
    box-shadow: 0px 4px 10px 1px rgba(247, 241, 113, 1);
}

#menu #items .cardss h6{
    display: flex;
    width: 100%;
    height: auto;
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#menu #items .cardss div{
    display:flex;
    flex-wrap:wrap;
    font-size:17px;
    width:70%;
    height: auto;
    padding: 0 0;
    margin: 10px 0;
    color: #999;
    align-items: center;
    justify-content: center;
}

#menu #items .cardss a{
    display: flex;
    height: 40px;
    width: 150px;
    color: #191919;
    font-size: 16px;
    margin: 5px 0;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    background: #fff600;
    align-items: center;
    justify-content: center;
    transition:1s
}

#menu #items .cardss a:hover{
    transform: scale(1.15);
    background-color: green;
}

#cart {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90%;
    background-size: 100% 100%;
    padding: 40px 80px;
    align-items: center;
    justify-content: center;
    margin-left: 240px;
    font-family: Source sans pro, sans-serif;
}
#cart .cart-header {
    font-weight: bold;
    font-size: 1.30em;
    color: black;
}

#cart .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid blue;
    margin-right: 1.4em;
    padding-bottom: 10px;
    margin-top: 10px;
}

#cart .cart-row {
    display: flex;
}

#cart .cart-item {
    width: 50%;
}

#cart .cart-price {
    width: 20%;
    font-size: 1em;
    color: black;
}

.cart-quantity {
    width: 37%;
}

#cart .cart-item-title {
    color: black;
    margin-left: .5em;
    font-size: 1em;
}

#cart .cart-item-image {
    width: 77px;
    height: auto;
    border-radius: 11px;
}

#cart .btn-danger {
    color: white;
    background-color: red;
    border: none;
    border-radius: .4em;
    font-weight: bold;
}

#cart .btn-danger:hover {
    background-color: darkred;
}

#cart .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: lightgray;
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

#cart .cart-row:last-child {
    border-bottom: 1px solid blue;
}

#cart .cart-row:last-child .cart-column {
    border: none;
}

#cart .cart-total {
    text-align: end;
    margin-top: 11px;
    margin-right: 11px;
}

#cart .cart-total-title {
    font-weight: bold;
    font-size: 1.7em;
    color: black;
    margin-right: 20px;
}

#cart .cart-total-price {
    color: black;
    font-size: 1.2em;
}

#cart .btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.70em;
}
